.feedback-form{
    width: 408px;
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label{
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #2E2F42;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.03em;
}
input, 
textarea,
textarea:focus,
input:focus{
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;

    color: #2E2F42;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.03em;
    resize: none;
}
input:hover, 
input:focus,
textarea:hover,
textarea:focus
{
    outline: none;
    border: 1px solid black;
}

.submit-btn{
    border-radius: 8px;
    background: #4E75FF;
    padding: 8px 16px;
    color: #FFF;
    width: fit-content;
    border: none;
    
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.03em;
}
.submit-btn:hover{
    background: #6C8CFF;
}
